<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Photo Gallery</title>
  </head>
  <body>
    <h1>Photo Gallery</h1>
    <hr />
    <section class="gallery">
      <div id="photo"></div>
      <div id="photo-1"></div>
      <div id="photo-2"></div>
      <div id="photo-3"></div>
      <div id="photo-4"></div>
      <div id="photo-5"></div>
    </section>
  </body>
</html>
