* {
  padding: 0;
  margin: 0;
}

html {
  color: white;
  font-size: 16px;
  background-color: #18191a;
}

body {
  height: 100hv;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: red;
}

div {
  height: 200px;
  width: 200px;
  background: no-repeat center/cover
    url("https://images.unsplash.com/photo-1517178271410-0b2a6480952f");
}
